EmployeeServiceProj/src/main/resources/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://sample.wso2.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax21="http://sample.wso2.com/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://sample.wso2.com">
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://sample.wso2.com/xsd">
         <xs:complexType name="Employee">
            <xs:sequence>
               <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="salary" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax22="http://sample.wso2.com/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://sample.wso2.com">
         <xs:import namespace="http://sample.wso2.com/xsd"/>
         <xs:element name="getEmployeeDetails">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEmployeeDetailsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0"
                              name="return"
                              nillable="true"
                              type="ax21:Employee"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getEmployeeDetailsRequest">
      <wsdl:part name="parameters" element="ns:getEmployeeDetails"/>
   </wsdl:message>
   <wsdl:message name="getEmployeeDetailsResponse">
      <wsdl:part name="parameters" element="ns:getEmployeeDetailsResponse"/>
   </wsdl:message>
   <wsdl:portType name="EmployeeServicePortType">
      <wsdl:operation name="getEmployeeDetails">
         <wsdl:input message="ns:getEmployeeDetailsRequest"
                     wsaw:Action="urn:getEmployeeDetails"/>
         <wsdl:output message="ns:getEmployeeDetailsResponse"
                      wsaw:Action="urn:getEmployeeDetailsResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EmployeeServiceSoap11Binding" type="ns:EmployeeServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getEmployeeDetails">
         <soap:operation soapAction="urn:getEmployeeDetails" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="EmployeeServiceSoap12Binding" type="ns:EmployeeServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getEmployeeDetails">
         <soap12:operation soapAction="urn:getEmployeeDetails" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="EmployeeServiceHttpBinding" type="ns:EmployeeServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getEmployeeDetails">
         <http:operation location="getEmployeeDetails"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EmployeeService">
      <wsdl:port name="EmployeeServiceHttpSoap11Endpoint"
                 binding="ns:EmployeeServiceSoap11Binding">
         <soap:address location="http://localhost:8080/axis2/services/EmployeeService"/>
      </wsdl:port>
      <wsdl:port name="EmployeeServiceHttpSoap12Endpoint"
                 binding="ns:EmployeeServiceSoap12Binding">
         <soap12:address location="http://localhost:8080/axis2/services/EmployeeService"/>
      </wsdl:port>
      <wsdl:port name="EmployeeServiceHttpEndpoint"
                 binding="ns:EmployeeServiceHttpBinding">
         <http:address location="http://localhost:8080/axis2/services/EmployeeService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
