personServiceProj/src/main/resources/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://samples.wso2.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax23="http://samples.wso2.com/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://samples.wso2.com">
   <wsdl:types>
      <xs:schema xmlns:ax24="http://samples.wso2.com/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://samples.wso2.com">
         <xs:import namespace="http://samples.wso2.com/xsd"/>
         <xs:element name="getPersonDetails">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="nicNo" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPersonDetailsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Person"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://samples.wso2.com/xsd">
         <xs:complexType name="Person">
            <xs:sequence>
               <xs:element minOccurs="0" name="age" type="xs:int"/>
               <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getPersonDetailsRequest">
      <wsdl:part name="parameters" element="ns:getPersonDetails"/>
   </wsdl:message>
   <wsdl:message name="getPersonDetailsResponse">
      <wsdl:part name="parameters" element="ns:getPersonDetailsResponse"/>
   </wsdl:message>
   <wsdl:portType name="PersonServicePortType">
      <wsdl:operation name="getPersonDetails">
         <wsdl:input message="ns:getPersonDetailsRequest" wsaw:Action="urn:getPersonDetails"/>
         <wsdl:output message="ns:getPersonDetailsResponse"
                      wsaw:Action="urn:getPersonDetailsResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PersonServiceSoap11Binding" type="ns:PersonServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getPersonDetails">
         <soap:operation soapAction="urn:getPersonDetails" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PersonServiceSoap12Binding" type="ns:PersonServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getPersonDetails">
         <soap12:operation soapAction="urn:getPersonDetails" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PersonServiceHttpBinding" type="ns:PersonServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getPersonDetails">
         <http:operation location="getPersonDetails"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PersonService">
      <wsdl:port name="PersonServiceHttpSoap11Endpoint"
                 binding="ns:PersonServiceSoap11Binding">
         <soap:address location="http://localhost:8080/axis2/services/PersonService"/>
      </wsdl:port>
      <wsdl:port name="PersonServiceHttpSoap12Endpoint"
                 binding="ns:PersonServiceSoap12Binding">
         <soap12:address location="http://localhost:8080/axis2/services/PersonService"/>
      </wsdl:port>
      <wsdl:port name="PersonServiceHttpEndpoint" binding="ns:PersonServiceHttpBinding">
         <http:address location="http://localhost:8080/axis2/services/PersonService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
